html, body {
  padding-bottom: 10px;
  background-color: #eee;
  height: 100%;
}

label {
	margin-top: 5px; 
}	

.clear-left {
	clear: both;
	
}
.myhead {
	padding: 1% 0 1% 1%;  
	background-color: white;
}
.myhead a {
	float: right;
	margin: 20pt 5% 0 0;	
}

.form-search {
	background-color: #2fa443;
	min-height: 40pt;
}
.form-search  button{
	background-color: #4fd766;
	border-color: #4fd766;
	color:white;
}

.form-search  button:hover{
   background-color: #28e749;
   color:white;
}
.search-page{
	margin-bottom: 40pt;
}

.page1 ,.page2, .page3{
	float: left;
	margin-bottom: 1%;
	width:100%;
}

.page2 label {
	margin-top:0px;
}

.page2 #info{
	margin-top: -6px;
}
.radio-inline {
	margin-bottom: 15px;
}
.myform .btn-primary {
	margin-left:15px;
	width:50%;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #4fd766;
	border-color: #4fd766;
} 	


.myform .btn-cancel {
	margin-left:15px;
	width:30%;
	margin-top: 15px;
	margin-bottom: 15px;
} 	

.btn-cancel:hover {
	background-color: lightgray;
}
.myform .btn-edit {
	margin-left: 35px;
	width: 65pt;
	color: white;
	margin-top: 14px;
	background-color: #4fd766;
	border-color: #4fd766;
	font-size: 14px;
} 	

.myform .btn-edit:hover , .myform .btn-primary:hover{
   background-color: #28e749;
}

.error {
	color: red;
	display: inline-block;
}
.error-page{
	display: none;
	color: lightgrey;
	text-align: center;	
}

span.error-page {
	border: 1px dotted black;
}

.welcome{
	text-align:center;
	vertical-align: middle;
	margin-top: 75px;
	}

#card_id {
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}
	
.btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

hr {
	border-top: 1px solid #999C93;
	max-width: 330px;
	margin-bottom: 0px;
	margin-top: 0px;
	display: block;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.has-feedback .form-control-feedback {
	line-height : 0px;
	}
