
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>Card viea </title>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	  <div class="myhead">
		<a href="/logout">Logout</a>
	  </div>
	<div class="container">
	  
      <form class="myform" role="form" action="/submit" method="post">
			
        <div class="page1">
			<div class="form-group">
				<div id="card_id" class="col-xs-5 ">
					<label class="control-label" for="id">Card ID:</label>  
					<input id="id" name="id" type="text" class="form-control" value="{{CARD}}"  readonly>
				</div>	
			</div>
			<!--<button class="btn btn-lg btn-edit">Edit</button>-->
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="fName">Nom:</label>  
					<input id="fName" name="fName" type="text" class="form-control" value="{{fName}}" required >
				</div>	
			</div>
			<div class="form-group">			
				<div class="col-xs-5">
					<label class="control-label" for="lName">Pernom:</label>  
					<input id="lName" name="lName" type="text" class="form-control" value="{{lName}}" required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="fName">Adresse:</label>  
					<input id="address" name="address" type="text" class="form-control" value="{{address}}" required>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-5" >
					<label class="control-label" for="tel_home">Tel Domicile:</label>  
					<input id="tel_home" name="tel_home" type="tel" class="form-control" value="{{tel_home}}" required>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-5" >
					<label class="control-label" for="email">Email:</label>  
					<input id="email" name="email" type="email" class="form-control" value="{{email}}" required>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-5" >
					<label class="control-label" for="birth_date">Date De Naissance:</label>  
					<input id="birth_date" name="birth_date" type="date" class="form-control" value="{{birth_date}}" required >
				</div>	
			</div>
			

			<div class="form-group ">
				<div class="col-xs-5 clear-left" >
					<label class="control-label" for="ref_doctor_name">Medicin Refrent Dr.:</label>  
					<input id="ref_doctor_name" name="ref_doctor_name" type="text" class="form-control" value="{{ref_doctor_name}}" >
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="ref_doctor_tel">Tel:</label>  
					<input id="ref_doctor_tel" name="ref_doctor_tel" type="tel" class="form-control" value="{{ref_doctor_tel}}" >
				</div>	
			</div>

			<div class="form-group ">
				<div class="col-xs-5 clear-left" >
					<label class="control-label" for="spec_doctor_name">Medicin Specialiste Dr.:</label>  
					<input id="spec_doctor_name" name="spec_doctor_name" type="text" class="form-control" value="{{spec_doctor_name}}" >
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="spec_doctor_tel">Tel:</label>  
					<input id="spec_doctor_tel" name="spec_doctor_tel" type="tel" class="form-control" value="{{spec_doctor_tel}}" >
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="id_number">No Secu:</label>  
					<input id="id_number" name="id_number" type="text" class="form-control" value="{{id_number}}" required>
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5 clear-left	">
					<label class="control-label" for="blodTyoe">Groupe Sanguin:</label>  
					<input id="blodTyoe" name="blodType" type="text" class="form-control" value="{{blodTyoe}}" required>
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="mutual">Mutuelle:</label>  
					<input id="mutual" name="mutual" type="text" class="form-control" value="{{mutual}}" required>
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="emergency_contact_name">Personne a Contacter (urgence):</label>  
					<input id="emergency_contact_name" name="emergency_contact_name" type="text" class="form-control" value="{{emergency_contact_name}}" required>
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="emergency_contact_tel">Tel:</label>  
					<input id="emergency_contact_tel" name="emergency_contact_tel" type="tel" class="form-control" value="{{emergency_contact_tel}}" required>
				</div>	
			</div>
			
		</div>
        <div class="page2">
		<h2>Pathalogie Medicale:</h2>
			<div class="form-group">
				<div class="col-xs-2">
					<label class="control-label" for="cardio">Cardiaque</label>  
				</div>	
				<div class="radio-inline col-xs-1">
					<input id="cardio" name="cardio" type="radio"  value="Yes"   {% if cardio %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="cardio" name="cardio" type="radio"  value="No" {% if not cardio  %} checked {% endif %}>
					<label>No</label>
				</div>	
				<div id="info" class="form-group col-xs-6">
					<input type="text" id="cardio_info" name="cardio_info" class="form-control" value="{{cardio_info}}">  
				</div>	
			</div>
		
			<div class="form-group">
				<div class="col-xs-2">
					<label class="control-label" for="cardio">Pulmonaire</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="lung" name="lung" type="radio"  value="Yes" {% if lung %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="lung" name="lung" type="radio"  value="No" {% if not lung %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Renale</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="kidney" name="kidney" type="radio"  value="yes" {% if kidney %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="kidney" name="kidney" type="radio"  value="No" {% if not kidney %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Digestive</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="digestive" name="digestive" type="radio"  value="yes" {% if digestive %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="digestive" name="digestive" type="radio"  value="No" {% if not digestive %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Neurologique</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="neurologic" name="neurologic" type="radio"  value="yes" {% if neurologic %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="neurologic" name="neurologic" type="radio"  value="No" {% if not neurologic %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Oculaire</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="eye" name="eye" type="radio"  value="yes" {% if eye %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="eye" name="eye" type="radio"  value="No" {% if not eye %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Cutanee</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="skin" name="skin" type="radio"  value="yes" {% if skin %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="skin" name="skin" type="radio"  value="No" {% if not skin %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-2 clear-left">
					<label class="control-label" for="cardio">Autre</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="other" name="other" type="radio"  value="yes" {% if other %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="other" name="other" type="radio"  value="No" {% if not other %} checked {% endif %}>
					<label>No</label>
				</div>	
			</div>

			<div class="form-group clear-left">
				<div class="col-xs-2">
					<label class="control-label" for="cardio">Allergie</label>  
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="allergy" name="allergy" type="radio"  value="yes" {% if allergy %} checked {% endif %}>
					<label>yes</label>
				</div>	
				<div class="radio-inline col-xs-1">	
					<input id="allergy" name="allergy" type="radio"  value="No" {% if not allergy %} checked {% endif %}>
					<label>No</label>
				</div>	
				<div id="info" class="form-group col-xs-6">
					<input type="text" id="allergy_info" name="allergy_info" class="form-control" value="{{allergy_info}}">  
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="surgical_history">Antecedents Chirurgicaux:</label>  
					<textarea id="surgical_history" name="surgical_history" row="2" class="form-control"  >{{surgical_history}}</textarea>
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="surgical_history">Traitement Actuel:</label>  
					<textarea id="current_treatment" name="current_treatment" row="2" class="form-control" > {{current_treatment}}</textarea>
				</div>	
			</div>

		</div>
        <div class="page3">
			<h2>Exemen Clinique:</h2>
			<div class="form-group">
				<div class="col-xs-5">
					<label class="control-label" for="CR_cardio">Cardiaque:</label>  
					<input id="CR_cardio" name="CR_cardio" type="text" class="form-control" value="{{CR_cardio}}" >
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="CR_lung">Pulmonaire:</label>  
					<input id="CR_lung" name="CR_lung" type="text" class="form-control" value="{{CR_lung}}" >
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="CR_other">Autre:</label>  
					<input id="CR_other" name="CR_other" type="text" class="form-control" value="{{CR_other}}" >
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="CR_ta">TA:</label>  
					<input id="CR_ta" name="CR_ta" type="text" class="form-control" value="{{CR_ta}}" >
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="CR_pulse">Pouls:</label>  
					<input id="CR_pulse" name="CR_pulse" type="number" class="form-control" value="{{CR_pulse}}" >
				</div>	
			</div>
			<div class="form-group">
				<div class="col-xs-5 clear-left">
					<label class="control-label" for="CR_t">Temp:</label>  
					<input id="CR_t" name="CR_t" type="number" class="form-control" value="{{CR_t}}" >
				</div>	
			</div>
			
			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="examination">Examens Complementaires:</label>  
					<textarea id="examination" name="examination" row="2" class="form-control"  >{{examination}}</textarea>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="diagnostic">Diagnostic:</label>  
					<textarea id="diagnostic" name="diagnostic" row="2" class="form-control"  >{{diagnostic}}</textarea>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="treatment">Traitement Prescrit:</label>  
					<textarea id="treatment" name="treatment" row="2" class="form-control"  >{{treatment}}</textarea>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-xs-10">
					<label class="control-label" for="remarks">Remarques:</label>  
					<textarea id="remarks" name="remarks" row="2" class="form-control">{{remarks}}</textarea>
				</div>	
			</div>
			
		</div>
		<button class="btn btn-lg btn-primary col-xs-6" type="submit">Save</button>
		<button class="btn btn-lg btn-cancel">Cancel</button>
		

		</form>
<div class="modal fade bs-example-modal-sm">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Erreur</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->    <!-- Bootstrap core JavaScript


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
	$( document ).ready(function() {
		//makeFormDisable();
	});
	$('.btn-cancel').on('click', function() {
		window.location.replace('/login');
	});
	
	//$('.btn-edit').on('click', makeFormEnable());
		
		
	function makeFormDisable() {
		$("form input, form textarea, form input:radio").each(function()
			{
			if (this.nodeName == "INPUT" || this.nodeName == "TEXTAREA" || this.nodeName == "RADIO" ){ 
				$(this).prop('disabled','disabled') 
			} 
		})
	}
	
	function makeFormEnable() {
		$("form input, form textarea, form input:radio").each(function()
			{
			if (this.nodeName == "INPUT" || this.nodeName == "TEXTAREA" || this.nodeName == "RADIO" ){ 
				$(this).prop('disabled','') 
			} 
		})
	}
		
	$('.myform :button').on('click', function(et) { 
		if ($(this).html == "Cancel" ) {
			window.location.replace('/login')
		}
	})
	
	// getting user out to login, after successfuly saving the card
	$('.modal').on('hidden.bs.modal', function (e) {
		console.log(e);
		if ( $(e.target).find('.modal-title').html() == 'Success'){
			window.location.replace('/login');
		}
	})
	
	$('.myform :submit').on('click', function(et) { 
		et.preventDefault();
		var btn = $(this);
		btn.button('saving');
		var url = "/submit"; // the script where you handle the form input.
		var data_to_send = $('.myform').serialize();
		var search = $.post(url,data_to_send);
		search.done (function(data) {
		  try {
			d = $.parseJSON(data) ; // errors are in the from of a JSON, if this failes it will load teh html
		    if (d.STATUS_CODE != 0) {
				$('.modal-title').empty().html('Erreur');
		    	$('.modal-body p').empty().html(d.MESSAGE);
		    	$('.modal').modal('show');
			} else {
				$('.modal-title').empty().html('Success');
		    	$('.modal-body p').empty().html('Record was saved successfully');
		    	$('.modal').modal('show');
			}
		  } catch (e) {
			  $('.modal-title').empty().html('Erreur');
			  $('.modal-body p').empty().html('Echec de la communication avec les serveurs - error catch');
			  $('.modal').modal('show');	
		  }
		})
		search.fail(function(data) {
		  $('.modal-title').empty().html('Erreur');
		  $('.modal-body p').empty().html('Echec de la communication avec les serveurs');
		  $('.modal').modal('show');	
		})
		search.always(function(data) {
		  btn.button('reset');	
		})
	})
	
    </script>
    
  </body>
</html>
