
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>Dr signup page</title>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Doctor Login</h2>
		<div id = "DE" class = "form-group has-feedback">
			<input id="email" name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
			<span></span>
		</div>
		<input id = "password" name="password" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
		{% if ERROR %}<span>{{ERROR}}</span> {% endif %} 
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
	var emailRegex = /^\S+@\S+\.\S+$/;
	$('form #email').on("blur", function() {
	  var p = $(this).parent();
	  if (emailRegex.test($(this).val())) {
		p.removeClass('has-error');
		p.addClass('has-success');
		$(this).next('span').removeClass("glyphicon glyphicon-remove form-control-feedback");
		$(this).next('span').addClass("glyphicon glyphicon-ok form-control-feedback");
	  }else {
		p.removeClass('has-success');
		p.addClass('has-error');
		$(this).next('span').removeClass("glyphicon glyphicon-ok form-control-feedback");
		$(this).next('span').addClass("glyphicon glyphicon-remove form-control-feedback");
	  }
   	});
	
	</script>
	
  </body>
</html>
