
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <title>La carte santé</title>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="myhead">
	  <img src="static/images/logo.png" height="50">
		<a href="/logout">Déconnexion</a>
	</div>

    <div class="container">

      <form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Identification Docteur</h2>
		<div id = "DE" class = "form-group has-feedback">
			<input id="card_id" name="card_id" type="text" class="form-control" placeholder="Card ID" required autofocus>
			<span></span>
		</div>
		<input id = "password" name="password" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <!--<input type="checkbox" value="remember-me">Se souvenir de mes identifiants -->
        </label>
		{% if ERROR_MESSAGE %}<span>{{ERROR_MESSAGE}}</span> {% endif %} 
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
	var emailRegex = /^[a-zA-Z0-9_]*$/;
	$('form #card_id').on("blur", function() {
	  var p = $(this).parent();
	  if (emailRegex.test($(this).val())) {
		p.removeClass('has-error');
		p.addClass('has-success');
		$(this).next('span').removeClass("glyphicon glyphicon-remove form-control-feedback");
		$(this).next('span').addClass("glyphicon glyphicon-ok form-control-feedback");
	  }else {
		p.removeClass('has-success');
		p.addClass('has-error');
		$(this).next('span').removeClass("glyphicon glyphicon-ok form-control-feedback");
		$(this).next('span').addClass("glyphicon glyphicon-remove form-control-feedback");
	  }
   	});
	
	</script>
	
  </body>
</html>
